@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Georgia, "Malgun Gothic", serif;
  background-color: #f0eff0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  padding-right: 190px;
  padding: 10vh 0 72px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: red;
}

header h1 {
  font-size: 75px;
  width: 50%;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header h3 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

header h3, header p {
  width: 70%;
  line-height: 1.2;
  text-align: justify;
}

header p {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 40px;
}

header nav {
  width: 80%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav ul li {
  cursor: pointer;
  margin-right: 12px;
  font-size: 20px;
  color: black;
  opacity: 0.5;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

header nav ul li:hover {
  opacity: 1;
}

main {
  margin-left: 33%;
  height: 5000vh;
}

main .movie {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, rgba(0, 0, 0, 0.2)), color-stop(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) red;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 2%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) red;
  /*
이 코드를 자세히 뜯어보면
2개의 background를 만든 것이다.
linear-gradient가 red 의 상위에 있게 되겠지

또한 top to bottom 을 설정했다.
그리고 background 전체에 2%만 약간의 검정을 넣고
나머지는 완전히 투명하게 setting 했다.

검정색을 더 강하게 하고 싶다면
0.2보다 더 큰 값을 넣으면 된다.
*/
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

main .movie .wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .movie .wrapper .movie_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px;
}

main .movie .wrapper .movie_header h4 {
  font-size: 32px;
  text-transform: uppercase;
}

main .movie .wrapper .movie_header h5 {
  letter-spacing: 2px;
}

main .movie img {
  width: 100%;
  -webkit-box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=styles.css.map */