@charset "UTF-8";
@import url(c:\Users\user\Desktop\Web_Study\Dance_Match\Flask_MongoDB\static\reset.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes scrollText {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes scrollText {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
            box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-box-shadow: 0 13px 27px -125px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
            box-shadow: 0 13px 27px -125px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-box-shadow: 0 13px 27px -80px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
            box-shadow: 0 13px 27px -80px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
            box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-box-shadow: 0 13px 27px -125px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
            box-shadow: 0 13px 27px -125px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-box-shadow: 0 13px 27px -80px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
            box-shadow: 0 13px 27px -80px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

body {
  height: 100vh;
  font-family: Georgia, "Malgun Gothic", serif;
  background-color: #c8c8c8;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  padding-right: 190px;
  padding: 5vh 5vh 60px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

header h1 {
  font-size: 60px;
  width: 50%;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

header h3, header p {
  width: 70%;
  text-align: justify;
}

header h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  -webkit-animation: scrollText 15s linear infinite forwards;
          animation: scrollText 15s linear infinite forwards;
  line-height: 1.2;
}

header .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 45%;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header .bottom p, header .bottom .info {
  font-weight: 600;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

header .bottom p {
  width: 80%;
  height: 20%;
  padding-top: 12px;
  margin-bottom: 10px;
  color: gray;
  -webkit-animation: float 5s linear infinite;
          animation: float 5s linear infinite;
}

header .bottom .info {
  height: 80%;
  width: 90%;
  font-size: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
}

header .bottom .info .input {
  height: 20%;
  margin: 3px 0px;
  padding: 5px;
  border-radius: 10px;
}

header .bottom .info .input .input-group > span {
  font-size: 13px;
}

header .bottom .info .input .select {
  width: 70%;
  margin: 0 auto;
  height: 50%;
  font-size: 12px;
  border-radius: 10px;
}

header .bottom .info .input .select:hover {
  -webkit-animation: float 3s linear infinite;
          animation: float 3s linear infinite;
}

header .bottom .info .order button {
  width: 50%;
  margin: 6px;
  padding: 2px;
  color: gray;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 300;
  font-size: 12px;
}

header .bottom .info .order button:hover {
  -webkit-animation: float 2s infinite linear;
          animation: float 2s infinite linear;
}

main {
  margin-left: 33%;
  height: 5000vh;
}

main .dance, main .video {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, rgba(0, 0, 0, 0.2)), color-stop(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) gray;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 2%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) gray;
  /*
이 코드를 자세히 뜯어보면
2개의 background를 만든 것이다.
linear-gradient가 red 의 상위에 있게 되겠지
또한 top to bottom 을 설정했다.
그리고 background 전체에 2%만 약간의 검정을 넣고
나머지는 완전히 투명하게 setting 했다.
검정색을 더 강하게 하고 싶다면
0.2보다 더 큰 값을 넣으면 된다.
*/
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

main .dance .dance_wrap, main .video .dance_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70%;
  height: 70%;
}

main .dance .dance_wrap .dance_text, main .video .dance_wrap .dance_text {
  font-size: 40px;
  margin-bottom: 70px;
  -webkit-animation: float 2s infinite linear;
          animation: float 2s infinite linear;
}

main .dance .dance_wrap .dance_video, main .video .dance_wrap .dance_video {
  width: 100%;
  height: 100%;
  border: 4px solid #c8c8c8;
  border-radius: 50%;
}

main .dance .dance__item, main .video .dance__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 80%;
  height: 80%;
}

main .dance .dance__item .dance__real__image, main .video .dance__item .dance__real__image {
  width: 70%;
  height: 70%;
}

main .dance .dance__item .dance__real__text, main .video .dance__item .dance__real__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 70%;
  font-size: 15px;
  letter-spacing: 1px;
}

main .dance .dance__item .dance__real__text a, main .dance .dance__item .dance__real__text p, main .video .dance__item .dance__real__text a, main .video .dance__item .dance__real__text p {
  text-decoration: none;
  margin-bottom: 25px;
}

main .dance .dance__item .dance__real__text a, main .video .dance__item .dance__real__text a {
  -webkit-animation: float 3s infinite linear;
          animation: float 3s infinite linear;
  border: 1px solid gray;
  border-radius: 90%;
  padding: 3px;
}

main .dance .dance__item .dance__text, main .video .dance__item .dance__text {
  font-size: 50px;
  color: gray;
  position: absolute;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

main .dance .dance__item .dance__background, main .video .dance__item .dance__background {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1551186839-9e4a19b27812?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
}

main .dance .dance__item:hover .dance__background, main .video .dance__item:hover .dance__background {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

main .dance .dance__item:hover .dance__text, main .video .dance__item:hover .dance__text {
  display: block;
  color: #c8c8c8;
  font-size: 50px;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */